<html>

<body>
    <table>
        <tr>
            <th>Numero</th>
            <th>Concepto</th>
            <th>Importe</th>
            <th>TipoIVA</th>
            <th>Pagada</th>
        </tr>

        @foreach (var factura in ViewBag.ListaFacturas)
        {
            <tr>
                <td>@factura.Numero</td>
                <td>@factura.Concepto</td>
                <td>@factura.Importe</td>
                <td>@factura.TipoIVA</td>
                <td>@factura.Pagada</td>
            </tr>
        }
    </table>
    <a href="formulario">ir al formulario</a>
</body>

</html>